/* mobile */

body {
	background: #fefefe;
	font-family: "Meiryo", "Hiragino Kaku Gothic ProN", "MS PGothic", sans-serif;
	font-size: 14px;
	margin-bottom: 24px;
}

.siteTitle {
	font-size: 1.5em;
	margin-left: 8px;
}

.siteTitle a {
	color: #000;
	text-decoration: none;
}

h3 span {
	line-height: 24px;
	position: absolute;
}

.question {
	margin: 0;
}

.question+.question {
	margin-top: 2em;
}

.question>* {
	margin: 0 8px 0 26px;
}

.choiceContainer {
	display: table;
}

.choiceContainer label {
	display: table-cell;
}

.question .choiceContainer+.choiceContainer {
	margin-top: 4px;
}

.question input[type=radio] {
	left: 8px;
	position: absolute;
}

input[type=button] {
	background-color: #bfbfbf;
	border-radius: 4px;
	font-size: 1em;
	height: 50px;
	margin: 2em 8px 0;
	width: calc(100% - 8px * 2);
}

.question_title {
	background-color: #ccc;
	font-size: 100%;
	margin: 0 0 0.8em;
	padding: 4px 8px 4px;
}

.resultDetail {
	margin: 1em 0;
	text-align: center;
}

.resultDetail_points {
	border-collapse: collapse;
	margin: 0 auto;
}

.resultDetail_points td {
	border-bottom: 1px solid;
	padding: 6px 2px 1px 0;
	text-align: left;
}

.resultDetail_points td+td {
	padding-left: 12px;
	text-align: right;
}

.resultDetail_points td span {
	margin-left: 2px;
}

.pt {
	color: rgb(255, 0, 54);
}

.pt:after {
	color: #000;
	content: 'pt';
	margin-left: 1px;
}

.note {
	color: grey;
	font-size: 75%;
	margin: 1em 0 0;
}

.warning {
	background: #fefefe;
	height: 100%;
	width: 100%;
	z-index: 100;
}

.warning .container {
	margin: 0 8px;
}

.container a {
	text-decoration: none;
}

.container input[type=button] {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

.warning ul {
	padding: 0;
}

.warning li {
	border-left: 1px solid;
	list-style: none;
	padding-left: 4px;
}

/* tablet */

@media screen and (min-width: 480px) {
	.siteTitle {
		font-size: 1.8em;
	}
	body {
		font-size: 18px;
	}
	input[type=button], .container input[type=button] {
		font-size: 1em;
		width: 200px;
	}
}

/* pc */

@media screen and (min-width: 768px) {}
