/* mobile */

body {
	margin-bottom: 24px;
}
.question {
	font-size: 14px;
	margin: 0 0 1.5em 0;
}

input[type=button] {
	background-color: #bfbfbf;
	font-size: 1em;
	height: 50px;
	width: 100%;
}

.question div:first-child {
	font-weight: bold;
}

/* tablet */

@media screen and (min-width: 480px) {
	.question {
		font-size: 18px;
	}
	input[type=button] {
		font-size: 1em;
		width: 200px;
	}
}

/* pc */

@media screen and (min-width: 768px) {}
